* {
	margin: 0;
	font-family: 'Merienda', cursive;
	/* font-family: 'Satisfy', cursive; */
	background: lightgreen;
}


h1 
{
	color: darkgreen;
	font-size: 50px;
	text-align: center;
}

h2 
{
	color: green;
}

#carritoDeCompras
{
	border: 1px black solid;
	color: darkred;
	margin: 30px 100px;
	padding: 10px;
}

img
{
	width: 150px;
}