@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* 
{
	margin: 0;
	font-family: 'Merienda', cursive;
	background: lightgreen;
}

body
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20vh 200px auto 20vh;
	grid-template-areas: 
	"header"
	"intro"
	"ofertaImpresa"
	"footer";
}

footer
{
	grid-area: footer;
	background-color: darkgreen;
}

.fondoVerde
{
	background-color: darkgreen;
}

header
{
	display: grid;
	position: fixed;
	grid-template-columns: 75vw 25vw;
	grid-template-rows: 100%;
	grid-template-areas: 
	"titulo carritoDeCompras";
	height: 20vh;
	z-index: 2;
}

#titulo
{
	display: flex;
	grid-area: titulo;
	justify-content:flex-start;
	align-items: center;
}

#carritoDeCompras
{
	display: flex;
	grid-area: carritoDeCompras;
	justify-content: center;
	align-items: center;
}

#carritoDeCompras img
{
	margin:10px;
}

#btnCarrito
{
	background-color: rgb(1, 71, 1);
	color: white;
	border-radius: 20px;
	font-size: 20px;
	padding: 0 20px;
	outline: none;
}

#contador
{
	background-color: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 15px;
	color: white;
	padding: 5px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

h1 
{
	font-size: 50px;
	text-align: left;
	color: white;
	height: 20vh;
}

#intro
{
	grid-area: intro;
	background-image: url(../media/cultura.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
	position: relative;
	z-index: 1;
}

#intro p
{
	font-size: 4vh;
	font-weight: bold;
	text-align: center;
	position: absolute;
	background-color: #eeeeee99;
	margin: 10vw;
	top: -10vh;
}

#listaCarrito
{
	display: none;
	position: absolute;
	top: 18vh;
	left: 60%;
	border: 1px solid black;
	width: 35%;
	background-color: grey;
	z-index: 999;
}

#ofertaImpresa img
{
	width: 150px;
	height: 150px;
}

.fondoBlanco
{
	background-color: white;
}

ul
{
	padding: 0px;
	list-style: none;
}

#formulario
{
	width: 80%;
	margin: 0 10%;
}

form input
{
	display: inline-block;
	margin: 15px 10px;
	width: 40%;
	padding: 5px;
}

#ofertaImpresa
{
	grid-area: ofertaImpresa;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#ofertaImpresa div
{
	display: flex;
	background-color: whitesmoke;
	flex-direction: column;
	width: 200px;
	height: 300px;
	align-items: center;
	margin: 10px 0;
	border-radius: 10px;
}

#ofertaImpresa div h3
{
	height: 55px;
	width: 190px;
	text-align: center;
	background-color: whitesmoke;
}

select
{
	width: 80px;
}

#btnComprar
{
	background-color: darkgreen;
	color: white;
	border-radius: 20px;
	font-size: 15px;
}

a 
{
	background-color: darkgreen;
	color: white;
	text-decoration: none;
}

a:visited
{
	color: white;
}

#listoParaComprar
{
	background-color: white;
	width: 30%;
	margin: auto;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
}

input
{
	background-color: #c48649 ;
	border: 1px solid #c48649;
	border-radius: 20px;
	outline: none;
	color: black;
}

input:focus
{
	border: 2px solid black;
}

::placeholder
{
	color: white;
}

#productosAPagar
{
	font-weight: bold;
}

.rojo
{
	background-color: darkred;
}

#btnCancelar
{
	color: white;
	border-radius: 20px;
	font-size: 15px;
}